# Ignore compiled files
*.class
*.o
*.pyc

# Ignore dependencies folder
/node_modules

# Ignore IDE specific files
.idea/
.vscode/

# Ignore log files
*.log
.gitignore
.gitattributes
.venv
.env

# Ignore operating system files
.DS_Store
Thumbs.db
